USE [master]
GO
/****** Object:  Database [Reclutamiento]    Script Date: 7/20/2026 8:58:37 PM ******/
CREATE DATABASE [Reclutamiento]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Reclutamiento', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Reclutamiento.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Reclutamiento_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Reclutamiento_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Reclutamiento].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Reclutamiento]
GO
/****** Object:  Table [dbo].[Candidatos]    Script Date: 7/20/2026 8:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidatos](
	[CandidatoID] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](11) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
	[EsInterno] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CandidatoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DecisionFinal]    Script Date: 7/20/2026 8:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DecisionFinal](
	[DecisionID] [int] IDENTITY(1,1) NOT NULL,
	[CandidatoID] [int] NULL,
	[VacanteID] [int] NULL,
	[Decision] [varchar](20) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Comentario] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[DecisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entrevistas]    Script Date: 7/20/2026 8:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrevistas](
	[EntrevistaID] [int] IDENTITY(1,1) NOT NULL,
	[CandidatoID] [int] NULL,
	[VacanteID] [int] NULL,
	[EtapaID] [int] NULL,
	[Fecha] [date] NOT NULL,
	[Comentario] [varchar](500) NULL,
	[Puntuacion] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EntrevistaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etapas]    Script Date: 7/20/2026 8:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etapas](
	[EtapaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EtapaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reclutadores]    Script Date: 7/20/2026 8:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reclutadores](
	[ReclutadorID] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](11) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Departamento] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReclutadorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 7/20/2026 8:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacantes]    Script Date: 7/20/2026 8:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacantes](
	[VacanteID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[FechaPublicacion] [date] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Departamento] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VacanteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Candidatos] ON 

INSERT [dbo].[Candidatos] ([CandidatoID], [Cedula], [Nombre], [Email], [Telefono], [EsInterno]) VALUES (3, N'40234126023', N'Maiquelys Gonzalez', N'maiquelysgonzalez@gmail.com', N'8498063988', 0)
INSERT [dbo].[Candidatos] ([CandidatoID], [Cedula], [Nombre], [Email], [Telefono], [EsInterno]) VALUES (4, N'40234126023', N'Maiquelys Gonzalez', N'maiquelysgonzalez@gmail.com', N'8498063988', 0)
INSERT [dbo].[Candidatos] ([CandidatoID], [Cedula], [Nombre], [Email], [Telefono], [EsInterno]) VALUES (5, N'12345678910', N'Fulano de Tal', N'funalodetal@email.com', N'8091234567', 1)
SET IDENTITY_INSERT [dbo].[Candidatos] OFF
GO
SET IDENTITY_INSERT [dbo].[DecisionFinal] ON 

INSERT [dbo].[DecisionFinal] ([DecisionID], [CandidatoID], [VacanteID], [Decision], [Fecha], [Comentario]) VALUES (1, 3, 1, N'Contratado', CAST(N'2026-06-30' AS Date), N'Media rara pero ok')
INSERT [dbo].[DecisionFinal] ([DecisionID], [CandidatoID], [VacanteID], [Decision], [Fecha], [Comentario]) VALUES (2, 4, 2, N'En espera', CAST(N'2026-07-01' AS Date), N'')
INSERT [dbo].[DecisionFinal] ([DecisionID], [CandidatoID], [VacanteID], [Decision], [Fecha], [Comentario]) VALUES (3, 5, 3, N'Rechazado', CAST(N'2026-07-02' AS Date), N'Creo que es falso')
SET IDENTITY_INSERT [dbo].[DecisionFinal] OFF
GO
SET IDENTITY_INSERT [dbo].[Entrevistas] ON 

INSERT [dbo].[Entrevistas] ([EntrevistaID], [CandidatoID], [VacanteID], [EtapaID], [Fecha], [Comentario], [Puntuacion]) VALUES (3, 3, 1, 1, CAST(N'2026-06-30' AS Date), NULL, CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[Entrevistas] ([EntrevistaID], [CandidatoID], [VacanteID], [EtapaID], [Fecha], [Comentario], [Puntuacion]) VALUES (4, 3, 1, 1, CAST(N'2026-06-30' AS Date), NULL, CAST(9.00 AS Decimal(5, 2)))
INSERT [dbo].[Entrevistas] ([EntrevistaID], [CandidatoID], [VacanteID], [EtapaID], [Fecha], [Comentario], [Puntuacion]) VALUES (5, 4, 1, 1, CAST(N'2026-07-01' AS Date), NULL, CAST(10.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Entrevistas] OFF
GO
SET IDENTITY_INSERT [dbo].[Etapas] ON 

INSERT [dbo].[Etapas] ([EtapaID], [Nombre], [Descripcion]) VALUES (1, N'Entrevista inicial', N'Primera evaluacion del candidato')
SET IDENTITY_INSERT [dbo].[Etapas] OFF
GO
SET IDENTITY_INSERT [dbo].[Reclutadores] ON 

INSERT [dbo].[Reclutadores] ([ReclutadorID], [Cedula], [Nombre], [Departamento], [Email]) VALUES (1, N'00100000001', N'Admin Reclutador', N'RRHH', N'admin@empresa.com')
SET IDENTITY_INSERT [dbo].[Reclutadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioID], [Usuario], [Password]) VALUES (1, N'admin', N'1234')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Vacantes] ON 

INSERT [dbo].[Vacantes] ([VacanteID], [Titulo], [Descripcion], [FechaPublicacion], [Estado], [Departamento]) VALUES (1, N'Desarrollador', N'Desarrollo de sistemas internos', CAST(N'2026-06-30' AS Date), N'Activa', N'Tecnologia')
INSERT [dbo].[Vacantes] ([VacanteID], [Titulo], [Descripcion], [FechaPublicacion], [Estado], [Departamento]) VALUES (2, N'Programador', N'Programa', CAST(N'2026-07-01' AS Date), N'Activa', N'Tecnologia')
INSERT [dbo].[Vacantes] ([VacanteID], [Titulo], [Descripcion], [FechaPublicacion], [Estado], [Departamento]) VALUES (3, N'Profesor', N'Profesor especializado en matematicas', CAST(N'2026-07-02' AS Date), N'Activa', N'Educacion')
SET IDENTITY_INSERT [dbo].[Vacantes] OFF
GO
ALTER TABLE [dbo].[Candidatos] ADD  DEFAULT ((0)) FOR [EsInterno]
GO
ALTER TABLE [dbo].[Entrevistas] ADD  DEFAULT ((0)) FOR [Puntuacion]
GO
ALTER TABLE [dbo].[Vacantes] ADD  DEFAULT ('General') FOR [Departamento]
GO
ALTER TABLE [dbo].[DecisionFinal]  WITH CHECK ADD FOREIGN KEY([CandidatoID])
REFERENCES [dbo].[Candidatos] ([CandidatoID])
GO
ALTER TABLE [dbo].[DecisionFinal]  WITH CHECK ADD FOREIGN KEY([VacanteID])
REFERENCES [dbo].[Vacantes] ([VacanteID])
GO
ALTER TABLE [dbo].[Entrevistas]  WITH CHECK ADD FOREIGN KEY([CandidatoID])
REFERENCES [dbo].[Candidatos] ([CandidatoID])
GO
ALTER TABLE [dbo].[Entrevistas]  WITH CHECK ADD FOREIGN KEY([EtapaID])
REFERENCES [dbo].[Etapas] ([EtapaID])
GO
ALTER TABLE [dbo].[Entrevistas]  WITH CHECK ADD FOREIGN KEY([VacanteID])
REFERENCES [dbo].[Vacantes] ([VacanteID])
GO
USE [master]
GO

USE [Reclutamiento]
GO

CREATE TABLE [dbo].[CV](
	[CVID] [int] IDENTITY(1,1) NOT NULL,
	[CandidatoID] [int] NOT NULL,
	[RutaArchivo] [varchar](255) NOT NULL,
	[FechaSubida] [datetime] NOT NULL DEFAULT GETDATE(),
PRIMARY KEY CLUSTERED 
(
	[CVID] ASC
)
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CV]  WITH CHECK ADD FOREIGN KEY([CandidatoID])
REFERENCES [dbo].[Candidatos] ([CandidatoID])
GO
